/* pages/enjoy/enjoy.wxss */

page {
  width: 100%;
  height: 100%;
}

.enjoy {
  width: 100%;
  height: 100%;
  position: relative;
}

.entry-img {
  width: 100%;
  height: 100%;
}

.bgc {
  width: 100%;
  height: 100%;
}

.eat {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* 未名严选介绍 */

.introduce {
  width: 680rpx;
  position: relative;
  height: 278rpx;
  background-color: #fff;
  box-shadow: 0rpx 10rpx 16rpx 4rpx rgba(183, 163, 72, 0.36);
  border-radius: 31rpx;
  margin: 355rpx 0 0 38rpx;
}

.introduce-title {
  width: 325rpx;
  height: 50rpx;
  background-color: #d51522;
  box-shadow: 0rpx 6rpx 5.6rpx 0.4rpx rgba(174, 145, 31, 0.36);
  border-radius: 0rpx 0rpx 49.13rpx 0rpx;
  position: absolute;
  left: 175rpx;
  top: -15rpx;
  font-family: AlibabaPuHuiTiR;
  font-size: 32.97rpx;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: -1.6rpx;
  color: #fff;
  text-align: center;
}

.introduce-con {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.one {
  margin: 47rpx 20rpx 0;
  font-family: PingFang-SC-Regular;
  font-size: 20rpx;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0rpx;
  color: #ba270f;
}
.two{
  margin:8rpx 20rpx;
  font-family: PingFang-SC-Regular;
	font-size: 20rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #ba270f;
}
.three{
  margin:8rpx 20rpx 20rpx 20rpx;
  font-family: PingFang-SC-Regular;
	font-size: 20rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #ba270f;
}
/* 未名商城介绍 */
.introduce-shop{
 width: 680rpx;
  position: relative;
  height: 193rpx;
  background-color: #fff;
  box-shadow: 0rpx 10rpx 16rpx 4rpx rgba(183, 163, 72, 0.36);
  border-radius: 31rpx;
  margin: 44rpx 0 0 38rpx;
}
/* 宿舍小店 */
.introduce-su{
   width: 680rpx;
  position: relative;
  height: 181rpx;
  background-color: #fff;
  box-shadow: 0rpx 10rpx 16rpx 4rpx rgba(183, 163, 72, 0.36);
  border-radius: 31rpx;
  margin: 44rpx 0 0 38rpx;
}
/* 玩赚生活 */
.introduce-su1{
   width: 680rpx;
  position: relative;
  height: 181rpx;
  background-color: #fff;
  box-shadow: 0rpx 10rpx 16rpx 4rpx rgba(183, 163, 72, 0.36);
  border-radius: 31rpx;
  margin: 44rpx 0 130rpx 38rpx;
}
/* 底部操作菜单 */

.page-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 95;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100rpx;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20rpx 0 rgba(0, 0, 0, 0.3);
  /* border-radius: 16rpx; */
}

.page-bottom .p-b-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  color: #606266;
}
.shou{
  font-size: 24rpx;
}
.yticon {
  width: 50rpx;
  height: 53rpx;
}
.gou{
   width: 50rpx;
  height: 50rpx;
}