page {height: 100%;}
.container {background: #f9f9f9;height: 100%;width: 100%;display: flex;flex-direction: column;}
.search {height: 88rpx;width: 100%;padding: 0 30rpx;background: #fff;display: flex;align-items: center;}
.search .input {width: 690rpx;height: 56rpx;background: #ededed;border-radius: 8rpx;display: flex;align-items: center;justify-content: center;}
.search .icon {background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png) center no-repeat;background-size: 100%;width: 28rpx;height: 28rpx;}
.search .txt {height: 42rpx;line-height: 42rpx;color: #666;padding-left: 10rpx;font-size: 30rpx;}
.catalog {flex: 1;width: 100%;background: #fff;display: flex;border-top: 1px solid #fafafa;}
.catalog .nav {width: 162rpx;height: 100%;}
.catalog .nav .item {text-align: center;line-height: 90rpx;width: 162rpx;height: 90rpx;color: #333;font-size: 28rpx;border-left: 6rpx solid #fff;}
.catalog .nav .item.active {color: #ab2b2b;font-size: 36rpx;border-left: 6rpx solid #ab2b2b;}
.catalog .cate {border-left: 1px solid #fafafa;flex: 1;height: 100%;padding: 0 10rpx 0 30rpx;}
.show-item {display: flex;justify-content: flex-start;align-items: center;border-bottom: 1rpx solid #e4e4e4;}
.more-pic {width: 150rpx;height: 150rpx;line-height: 150rpx;font-size: 0;}
.prod-text-right {width: 380rpx;margin: 10rpx 0 0 15rpx;}
.more {font-size: 28rpx;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cate-prod-info {font-size: 24rpx;color: #ccc;padding: 10rpx 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.symbol {font-size: 28rpx;color: #ab2b2b;}
.big-num {font-size: 26rpx;color: #ab2b2b;}
